body {
    font-family: "Poppins", system-ui;
    margin: 0;
    padding: 0;
    background-color: rgba(11, 102, 206, 0.386);
    color: rgba(255, 255, 255, 0.826);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgba(15, 105, 210, 0.390);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.left {
    font-size: 2rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.firstsection > div {
    width: 30%;
    margin: 30px;
}

.leftsection {
    padding-top: 20px;
    width: 30%;
    font-size: 2rem;
}

.rightsection {
    width: 30%;
}

.rightsection img {
    width: 60%;
    border-radius: 18%;
}

.purple {
    color: rgb(173, 51, 249);
}

#element {
    color: rgb(134, 73, 190);
}

.button-container {
    display: flex;
    gap: 10px; /* Space between buttons */
    margin-top: 10%; /* Adjust spacing from text */
}

button {
    width: 60%;
    height: 50px;
    background-color: rgb(24, 8, 8);
    border-radius: 10px;
}

button a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    line-height: 50px; /* Align text vertically */
}

button a:hover {
    color: aquamarine;
    font-weight: 100;
}

.hehe {
    font-size: 1rem;
    color: azure;
}

.h1 {
    color: aquamarine;
}
